body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  width: 410px;
  margin: 8px;
  background-color: #f9f9f9;
  overflow-y: auto;
  overflow-x: hidden;
}

p,
label {
  margin: 0;
  padding: 2px;
}

#manipulator {
  margin-top: 4px;
}

select,
input {
  font-size: 12px;
}